@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<div @*class="imagen"*@>    
   <a href="~/Busqueda/BuscarPorProvincia"><img src="~/Content/Images/busca.jpg" class="imagen" /></a> 
</div>


@*TODO hacer una pagina css*@
    <style>
        .imagen{	
	position:absolute;
	left:25%;
	top:15%;	
}
    </style>
    